.exitButton>button, .chatButton>button {
    border-radius: 1em;

}

.exitButton{
    margin: 1em;
   float: right;
}

.chatButton{
    margin-top:20px;
    text-align: center;

}

.welcomeText{
    margin-top: 20px;
    text-align: center;
}